<div class="page-header">
  <h2>Pengaturan</h2>
</div>

<!-- Tampilan -->
<div class="panel panel-primary">
  <div class="panel-heading">Pengaturan Tampilan</div>
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-heading">Tema</div>
      <div class="panel-body">
        <div class="col-sm-3">  <label class=" control-label" for="" >Pilih Tema</label></div>
        <div class="col-sm-9"><select  class="form-control"  name="" ng-model="theme"  ng-options="item for item in lsttheme">  </select></div>
      </div>
      <div class="panel-footer"><button ng-click="pilih_tema()" class="btn btn-default col-sm-offset-11">Simpan</button></div>
    </div>
  </div>

</div>
<!-- Pengaturan User -->
<div class="panel panel-primary">
  <div class="panel-heading">Pengaturan User</div>
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-heading">Ubah Password</div>
      <div class="panel-body">
        <form name="frm_pwd" action="">
        <div class="col-sm-3"><label class=" control-label" for="" >Password Lama</label></div>
        <div class="col-sm-9"><input class="form-control" ng-model="resetpwd.passwordlama" ng-blur="cek_password()" type="password"  placeholder="Password lama">  <span ng-show="password_status=='salah'" id="helpBlock2" class="help-block">Password salah</span></div>
        <div class="col-sm-3"><label class=" control-label" for="" >Password Baru</label></div>
        <div class="col-sm-9"><input type="password" name="passwordbaru" ng-model="resetpwd.password" ng-minlength="8" id="txt_password" required class="form-control" placeholder="Password baru"/>
        <p ng-show="frm_pwd.passwordbaru.$error.minlength" class="help-block">Password terlalu pendek</p>
</div>
        <div class="col-sm-3"><label class=" control-label" for="" >Ulangi Password</label>
        </div>
        <div class="col-sm-9"><input class="form-control" ng-model="resetpwd.confirmpwd" type="password" placeholder="Ulangi password baru">

          <p ng-show="resetpwd.password != resetpwd.confirmpwd" class="help-block">Password tidak cocok</p>
        </div>


</form>
      </div>
      <div class="panel-footer"><button  ng-disabled="frm_pwd.$invalid || password_status=='salah'" ng-click="ubah_password()" class="btn btn-default col-sm-offset-11">Simpan</button></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">Email</div>
      <div class="panel-body">
        <div class="alert alert-info" role="alert">
          <p>Email anda saat ini adalah <b>{{userdata.user_email}}</b> </p>
        </div>
        <div class="col-sm-3"><label class=" control-label" for="" >Ubah Email</label></div>
        <div class="col-sm-9"><input class="form-control" ng-model="chemail" type="text"></div>

      </div>
      <div class="panel-footer"><button ng-click="ubah_email()" data-toggle="modal" data-target="#wait" class="btn btn-default col-sm-offset-11">Simpan</button></div>
    </div>
    <div class="panel panel-warning">
      <div class="panel-heading">Hapus User</div>
      <div class="panel-body">

        <div class="alert alert-warning" role="alert">

          <p>Aksi ini akan menghapus anda sebagai user, hati hati, aksi ini tidak bisa dibatalkan</p>
        </div>
      </div>
      <div class="panel-footer"><button  data-toggle="modal" data-target="#nonaktifkan"  class="btn btn-danger col-sm-offset-11">Hapus</button></div>
    </div>
  </div>

</div>



<div style=" width: 200px;
    height: 200px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;" class="modal fade" id="wait" tabindex="-1" role="dialog" >

        <img src="img/gear.gif">

</div>




<div class="modal fade" id="ubahemail" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ubah email</h4>
      </div>
      <div class="modal-body">
        <p>Silahkan buka email baru anda dan verifikasi untuk merubah email</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="nonaktifkan" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nonaktifkan</h4>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin ingin menonaktifkan akun ini?</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button><button type="button" class="btn btn-default" ng-click="nonaktifkan()">Ya</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
