<div class="col-md-8" style="padding:10% 10% 10% 10%; color:#fff">
      <h1>Aplikasi Pengelolaan Keuangan Sekolah</h1>
      <p>Aplikasi ini merupakan suatu alat bantu bagi sekolah untuk mengelola keuangan, mulai dari menyusun RAPBS,
      transaksi hingga pembuatan laporan  {{1+1}}</p>
</div>
<div class="col-md-4 login"style="border-left: 3px solid #fff; margin-top: 2%">
      <div class="panel panel-default signin">
          <div class="panel-heading">
              <h3 class="panel-title">Login</h3>
          </div>
          <div class="panel-body" >
              <form class="form-signin">
                      <h2 class="form-signin-heading">Silahkan Login</h2>
                      <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="username" id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">

                      </div>
                      <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input ng-model="password" id="login-password" type="password" class="form-control" name="password" placeholder="password">
                       </div>
                      <div class="checkbox">
                        <a style="color:#000; border-bottom:1px #000 solid" href="">lupa password?</a>
                      </div>
                      <div class="col-md-6" style="padding: 0 2px 0 2px">
                          <button class="btn btn-lg btn-primary btn-block" ng-click="login()" type="submit">Sign in</button>
                      </div>
                      <div class="col-md-6" style="padding: 0 2px 0 2px">
                          <a href="#/daftar" class="btn btn-lg btn-success btn-block">Daftar</a>
                      </div>
                </form>
          </div>
      </div>
</div>
