<div style="background-color: rgba(245, 245, 245, 0.9); padding: 0; margin: 0 -5% 0 -5%; height: 100%; width: 110%">
  <ol class="breadcrumb">
    <li>Daftar</li>
    <li>Verifikasi Email</li>
    <li class="active">Tunggu Konfirmasi Admin</li>
  </ol>
  <div>
    <div class="jumbotron">
  <h2>Pendaftaran hampir selesai...</h2>
  <p>Silahkan tunggu persetujuan admin untuk penggunaan aplikasi ini, pendaftaran anda akan disetujui secepatnya, </p>
  <p>kami akan menghubungi anda via email begitu proses persetujuan selesai</p>
  <h5>Atas kesabarannya kami ucapkan terima kasih</h5>
</div>
</div>
