
<div class="panel panel-default">
  <div class="panel-heading">Semua User</div>
  <div class="panel-body">
    <input type="text" ng-model="txtcari" class="form-control" id="txtcari" placeholder="Cari">


    <div class="table-responsive" style="height:250px" >

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>NIP</th>
                    <th>Email</th>
                    <th>ID Sekolah</th>
                    <th>Create At</th>
                    <th>Status</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in alluser | filter:txtcari">
                    <td>{{user.user_id}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.user_group}}</td>
                    <td>{{user.create_at}}</td>
                    <td><p ng-show="user.status=='1'">Aktif</p><p ng-show="user.status=='0'">Belum Dikonfirmasi</p><p ng-show="user.status=='2'">Dinonaktifkan oleh admin</p> </td>
                    <td> <a href="" ng-disabled="user.status != '1'" ng-click="nonaktifkan(user.user_id)" class="btn btn-default">Nonaktifkan</a>
                      <a href="" ng-disabled="user.status != '2'" ng-click="aktifkan(user.user_id)" class="btn btn-success">aktifkan</a>
                  </td>
                  </tr>
                </tbody>
              </table>

  </div>
  </div>
</div>
